<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener, ServletContextAttributeListener, HttpSessionListener, HttpSessionAttributeListener, RequestListener, RequestAttributeListener</description>
        <listener-class>com.in.chat.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.in.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllRegisteredUsers</servlet-name>
        <servlet-class>com.in.servlet.AllRegisteredUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.in.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowImageServlet</servlet-name>
        <servlet-class>com.in.servlet.ShowImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditImageServlet</servlet-name>
        <servlet-class>com.in.servlet.EditImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgRegisteredUsersServlet</servlet-name>
        <servlet-class>com.in.servlet.MsgRegisteredUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFriends</servlet-name>
        <servlet-class>com.in.servlet.ManageFriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.package</param-name>
            <param-value>com.in.resources</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.in.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackServlet</servlet-name>
        <servlet-class>com.in.servlet.FeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordSendingServlet</servlet-name>
        <servlet-class>com.in.servlet.PasswordSendingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllRegisteredUsers</servlet-name>
        <url-pattern>/AllRegisteredUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowImageServlet</servlet-name>
        <url-pattern>/ShowImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditImageServlet</servlet-name>
        <url-pattern>/EditImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgRegisteredUsersServlet</servlet-name>
        <url-pattern>/MsgRegisteredUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GreetingsCardServlet</servlet-name>
        <servlet-class>com.in.servlet.GreetingsCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuNameServlet</servlet-name>
        <servlet-class>com.in.servlet.MenuNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackToViewGreetingsCard</servlet-name>
        <servlet-class>com.in.servlet.BackToViewGreetingsCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFunctionalitiesServlet</servlet-name>
        <servlet-class>com.in.servlet.AdminFunctionalitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailSenderServlet</servlet-name>
        <servlet-class>com.in.servlet.MailSenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressBookServlet</servlet-name>
        <servlet-class>com.in.servlet.AddressBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCardServlet</servlet-name>
        <servlet-class>com.in.servlet.AddCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCardServlet</servlet-name>
        <servlet-class>com.in.servlet.DisplayCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailSendingSchedulerServlet</servlet-name>
        <servlet-class>com.in.servlet.MailSendingSchedulerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PropertyConfiguratorServlet</servlet-name>
        <servlet-class>com.in.servlet.PropertyConfiguratorServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>com.in.servlet.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>com.in.chat.servlet.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageChatServlet</servlet-name>
        <servlet-class>com.in.chat.servlet.ManageChatServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SaveInfoServlet</servlet-name>
        <servlet-class>com.in.chat.servlet.SaveInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageChatServlet</servlet-name>
        <url-pattern>/ManageChatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInfoServlet</servlet-name>
        <url-pattern>/SaveInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GreetingsCardServlet</servlet-name>
        <url-pattern>/GreetingsCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuNameServlet</servlet-name>
        <url-pattern>/MenuNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackToViewGreetingsCard</servlet-name>
        <url-pattern>/BackToViewGreetingsCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFunctionalitiesServlet</servlet-name>
        <url-pattern>/AdminFunctionalitiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailSenderServlet</servlet-name>
        <url-pattern>/MailSenderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressBookServlet</servlet-name>
        <url-pattern>/AddressBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCardServlet</servlet-name>
        <url-pattern>/AddCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCardServlet</servlet-name>
        <url-pattern>/DisplayCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailSendingSchedulerServlet</servlet-name>
        <url-pattern>/MailSendingSchedulerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyConfiguratorServlet</servlet-name>
        <url-pattern>/PropertyConfiguratorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/HomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFriends</servlet-name>
        <url-pattern>/ManageFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jersey-servlet</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackServlet</servlet-name>
        <url-pattern>/FeedBackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordSendingServlet</servlet-name>
        <url-pattern>/PasswordSendingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>chatpropertyfile</param-name>
        <!--  Name of the chat properties file. It contains the name and description of rooms.
                -->
        <param-value>chat.properties</param-value>
    </context-param>
    <context-param>
        <param-name>saveRooms</param-name>
        <!-- The value of saveRooms can be set to true or false.
                If true then all new rooms added by users will be saved in chat.properties files.
                Default is false.
                -->
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>adminEmail</param-name>
        <!-- Add an e-mail address of the administrator of this web site. -->
        <param-value>admin@website.com</param-value>
    </context-param>
    <context-param>
        <param-name>sessionTimeout</param-name>
        <!-- Add time in minutes after which user's session will be expired.
                If user doesn't make any request after provided minutes he will be automatically logged out.
                Default is 30 minutes.

                -->
        <param-value>30</param-value>
    </context-param>
    <context-param>
        <param-name>refreshAfter</param-name>
        <!-- Add time in seconds after which user's browser window will automatically refresh to display
                new messages.
                Default is 10 seconds.
                -->
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>maxNoOfMessages</param-name>
        <!--  Maximum Number of messages that are stored in a list which is used to store all messages
                in a room. After this limit is reached older messages are removed.
                Default is 25
                -->
        <param-value>25</param-value>
    </context-param>
</web-app>
